.anim{
        width: 200px;
        height: 200px;
        background-color: red;
        animation-name: box;
        animation-duration: 4s;
        animation-iteration-count: infinite;
}   
@keyframes box{
    0%{
        margin: 0;
    }
    25%{
        margin-left: 400px;
        background-color: blue;
    }
    50%{
        margin-left: 900px;
        background-color: darkslateblue;
    }
    75%{
        margin-top: 400px;
        background-color: yellow;
    }
    100%{
        margin-right: 400px;
        background-color: rebeccapurple;
    }
}